.theme-light{
	background: #63b6d836;
}
.rounded-xl{
	border-radius: 1rem;
}
.logo{
	max-width: 10rem;
}
header,
footer{
	background: #191919;
}
.service-btn{
	background: #36A3D6;
}
.service-title{
	font-size: 25px;
}
.service-image{
	padding-top: 66.667%;
}
